---
layout: page
---

<div class="list-group" id="posts">

    {% assign i = 0 %}
    {% for post in site.posts %}

    {% if i == 0 %}

    <a href="{{post.url}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <div class="card-body">
                <h5 class="mb-1">{{post.title}}
                    {% if post.is_short %}
                    <span class="badge badge-secondary">Mini Post</span>
                    {% endif %}
                </h5>
                <p class="card-text">{{post.description}}</p>
            </div>
        </div>
    </a>

    {% else %}


    <a href="{{post.url}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <!-- <small>{{post.date}}</small> -->
        </div>
        <p class="card-text">{{post.description}}</p>
    </a>

    {% endif %}
    {% assign i = i | plus:1 %}
    {% endfor %}
</div>